* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
     font-family: "Roboto", sans-serif;
}


header {
    background-color: #0084fd;
    height: 80px;
    padding: 10px 25px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
#jumbotron {
    margin: 40px 0;
}
footer {
    background-color: #333333;
    width: 100%;
    height: 200px;
    padding: 25px 50px;
}
.container {
    max-width: 992px;
    margin: 0 auto;
}

/* UTILITIES */
.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}

.d-flex {
    display: flex;
}
.py-top-10 {
    padding-top: 10px;
}

.bg-blue {
    background-color: #0084fd;
}
.bg-purple {
    background-color: #9792e4;
}
.gold {
    color: #fdc15f;
}
.bg-white {
    background-color: white;
}
.relative {
    position: relative;
}

/* FINE UTILITIES */

/* HEADER */
header .col {
    width: 50%;
    padding: 5px;

}
.menù-nav {
    font-size: 25px;
    color: white;
}
.py-top-8 {
    padding-top: 8px;
}

/* FINE HEADER */

/* LAYOUT SECTION */

#jumbotron .col {
    width: 100%;
    background-color: #b5ddff;

    border-radius: 30px;
    margin: 15px 30px;

}
#jumbotron .grow {
    height: calc(800px - 30px);
}

#strategic {
    background-color: #9792e4;
    width: 100%;
    padding: 50px 0;
}
#strategic .col {
    width: 100%;

    border-radius: 30px;
    margin: 15px 30px;

}
#strategic .col-sm {
    width: 100%;
    background-color: white;
    border-radius: 30px;
    margin: 15px 30px;

}
#testimonials {
    width: 100%;
    padding: 50px 0;
}
#testimonials .col {
    width: 100%;

    border-radius: 30px;
    margin: 15px 30px;

}
#with-us {
    background-color: #9792e4 ;

}
#with-us .col {
    width: 100%;

    border-radius: 30px;
    margin: 15px 30px;

}
#about-us {
    padding: 50px 0;

}
#about-us .col {
    width: 100%;
    border-radius: 30px;
    margin: 15px 30px;;
}
#about-us .col-sm {
    width: 100%;

    height: calc(800px - 30px);
    border-radius: 30px;
    margin: 15px 30px;
    border:1px solid black;
}
#get-started {
    background-color: #9792e4;
    width: 100%;
    padding: 50px 0;
}
#get-started .col {
    width: 100%;


    border-radius: 30px;
    margin: 15px 30px;

}


/* FINE LAYOUT SECTION */

/* STYLE JUMBOTRON */
.img-jumbo {
    width: 100%;
}
#jumbotron {
    text-align: center;
}
#jumbotron .col {
    padding: 0 30px;
    color: #5a6e7f;
    padding: 50px;
}
#jumbotron h2{
    color: #0084fd;
    padding: 0 0 30px 0;

}
#jumbotron .col{
    background-color: #b5ddff;
}
#jumbotron i :not(.fa-apple) {
    font-size: 120px;
    color: #0084fd;
    margin-bottom: 30px;
}
#jumbotron .bg-blue {
    padding: 15px 80px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    margin: 35px 0;
}
#jumbotron .fa-apple {
    margin-right: 5px;
}
#jumbotron .grow {
    text-align: left;
}
#jumbotron span {
    line-height: 30px;
    font-weight: 700;
}

/*  FINE STYLE JUMBOTRON */


/* STYLE STRATEGIC */
#strategic img {
    width: 100%;
}
#strategic {
    text-align: center;
}
#strategic .col-sm {
    padding: 30px;
}
#strategic .col:first-of-type {
    text-align: left;
    color: white;
}
#strategic h2 {
    padding: 30px 0;
}
#strategic span{
    line-height: 30px;
    padding: 30px 0;
}
.fa-arrow-down {
    background-color: #9792e4;
    border-radius: 50%;
    padding: 20px;
    margin-top: 30px;
}
/*  FINE STYLE STRATEGIC */

/* STYLE TESTIMONIAL */
#testimonials img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px 0;
}
#testimonials {
    text-align: center;
}
#testimonials .col {
    padding: 30px;
}
#testimonials h4{
    font-weight: 300;
    font-size: 20px;

}
#testimonials h2{
    color: #9792e4;
    font-size: 40px;
    padding: 30px 0;
}
#testimonials span {
    font-size: 20px;
    line-height: 40px;
}
#testimonials h3:not(.testimonials) {
    font-weight: 700;
    color: white;
    margin-top: 30px;
}
.content div {
    color: white;
    line-height: 30px;
    font-size: 20px;
}
.fa-quote-left, .fa-quote-right {
    font-size: 30px;
    margin: 0 10px;
}
#testimonials .col:not(.testimonials) {
    background-color: #9792e4;
}

/*  FINE STYLE TESTIMONIAL */


/* STYLE WITH-US */

#with-us h2{
    color: white;
    font-size: 40px;
    padding: 30px 0;
}
#with-us .col {
    padding: 30px;
}
#with-us .col-sm {
    padding: 30px;
    text-align: center;
}
#with-us .number{
    font-size: 50px;
    font-weight: 700;
    color: #9792e4;
    margin-bottom: 30px;
}
#with-us h3 {
    color: #9792e4;
    font-size: 25px;
    margin-bottom: 30px;
}
#with-us span {
    color: #5a6e7f;
    line-height: 30px;
}
#with-us .bg-purple{
    color: white;
    background-color: #9792e4;
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    margin: 30px 0;
}
#with-us .col:not(.col-sm) {
    background-color: white;
}

/*  FINE STYLE WITH-US */


/* STYLE ABOUT US */
#about-us .col-60 {
    padding: 30px;
}
#about-us .col-40 {
    padding: 0 30px;
}
#about-us img {
    width: 200px;
    border-radius: 50%;
}
#about-us h2 {
    color: #9792e4;
    margin-bottom: 20px;
    font-size: 40px;
}
#about-us h3 {
    color: #9792e4;
    margin-bottom: 20px;
    font-size: 30px;
    margin-top: 20px;
}
#about-us span {
    line-height: 30px;
    display: block;
    margin-bottom: 40px;
}
#about-us .bg-purple {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
}
.fa-linkedin {
    margin-right: 10px;

}
/*  FINE STYLE ABOUT US */


/* STYLE GET STARTED */
#get-started {
    text-align: center;
}
#get-started .col{
    padding: 30px;
    line-height: 30px;
}
#get-started a {
    color: white;
}
#get-started h3 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}
#get-started h2 {
    font-size: 30px;
    color: white;
    margin: 20px 0;
}
#get-started h1 {
    font-size: 60px;
    margin: 60px 0;
}
#get-started span {
    color: white;
}
#get-started .bg-white {
    padding: 15px 80px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: #9792e4;
    margin: 30px 0;
}
#get-started h5 {
    color: white;
}
.fa-circle {
    font-size: 5px;
    padding: 0 5px;
    vertical-align: middle;
}
/*  FINE STYLE GET STARTED */




/* FOOTER */
footer .col {
    width: 100%;

    text-align: center;
    margin: 20px;
    color: white;
    font-size: 12px;
}
footer a {
    color: #9792e4;
}


/* FINE FOOTER */


/* MEDIA QUERY TABLET */

@media screen and (min-width: 768px) {
    #jumbotron {
        margin: 40px 0;
        padding: 0 10px 0 15px;
    }
    #jumbotron .col {
        width: calc(33% - 20px);
        background-color: #b5ddff;
        padding: 40px 20px;
        border-radius: 30px;
        margin: 15px 10px;


    }
    #jumbotron .grow {
        width: calc(66% - 20px);
        background-color: #b5ddff;

        border-radius: 30px;
        margin: 15px 10px;

    }
    .img-jumbo {
        width: 100%;
    }
    #strategic .title {
        padding: 30px 0;
        font-size: 60px;
        margin-top: 30px;
    }
    #testimonials {
        width: 100%;
        padding: 50px 0 80px 0;
    }
    #testimonials .col {
        width: 100%;


        border-radius: 30px;
        margin: 15px 30px;

    }
    #testimonials .content {
        display: flex;
        align-items: center;
        text-align: left;
    }
    #testimonials h3:not(.testimonials) {
        font-weight: 700;
        color: white;
        margin-top: 0;
    }
    #testimonials img {
        margin-right: 20px;
    }
    #with-us {
        padding: 30px 20px 50px;
    }
    #with-us .col {
        width: calc(50% - 40px);


        border-radius: 30px;
        margin: 15px 20px;

    }
    #with-us .row {
        justify-content: center;
    }



    #about-us {
        padding: 40px 20px;
    }
    #about-us .col-60 {
        width: calc(60% - 20px);


        border-radius: 30px;
        margin: 15px 10px;

    }
    #about-us .col-40 {
        width: calc(40% - 20px);

        border-radius: 30px;
        margin: 15px 10px;

    }
    #about-us h2 {
        font-size: 70px;
    }
    #about-us h3 {
        line-height: 50px;
    }
}
/* FINE MEDIA QUERY TABLET */

/* MEDIA QUERY DESKTOP */
@media screen and (min-width: 992px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
    #jumbotron {
        margin: 40px 0;
        padding: 0 10px 30px 25px;
    }
    #jumbotron .col {
        width: calc(33% - 20px);
        background-color: #b5ddff;
        height: 350px;
        border-radius: 30px;
        margin: 15px 10px;
        border: 1px solid black;

    }
    #jumbotron .grow {
        width: calc(100% / 3 * 2 - 20px);
        background-color: #b5ddff;
        height: 350px;
        border-radius: 30px;
        margin: 15px 10px;
        border: 1px solid black;
    }
    #strategic {
        background-color: #9792e4;
        width: 100%;
        padding: 50px;
    }
    #strategic .col {
        width: calc(50% - 20px);
        background-color: gold;
        height: calc(800px - 30px);
        border-radius: 30px;
        margin: 15px 10px;
        border: 1px solid black;
    }
    #strategic .col-sm {
        width: calc(50% - 120px);
        background-color: white;
        height: calc(600px - 30px);
        border-radius: 30px;
        margin: 15px 10px;
        border: 1px solid black;
        align-self: flex-end;
    }
    #with-us {
        padding: 100px 20px 50px;
    }
    #with-us .col {
        width: calc(33% - 20px);
        background-color: orange;
        height: 400px;
        border-radius: 30px;
        margin: 15px 10px;
        border:1px solid black;
    }
}

/* FINE MEDIA QUERY DESKTOP */






