* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #0084fd;
    height: 80px;
    padding: 25px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
#jumbotron {
    margin: 40px 0;
}
footer {
    background-color: #333333;
    width: 100%;
    height: 200px;
    padding: 25px 100px;
}
.container {
    width: 100%;
}

/* UTILITIES */
.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}
/* FINE UTILITIES */

/* HEADER */
header .col {
    width: 50%;
    background-color: aqua;
    border: 1px solid black;
    padding: 5px;

}
/* FINE HEADER */

/* SECTION */

#jumbotron .col {
    width: 100%;
    background-color: #b5ddff;
    height: 500px;
    border-radius: 20px;
    margin: 15px 30px;
    border: 1px solid black;
}
#jumbotron .grow {
    height: calc(800px - 30px);
}

#strategic {
    background-color: #9792e4;
    width: 100%;
    padding: 50px 0;
}
#strategic .col {
    width: 100%;
    background-color: gold;
    height: calc(800px - 30px);
    border-radius: 20px;
    margin: 15px 30px;
    border: 1px solid black;
}
#testimonials {
    width: 100%;
    padding: 50px 0;
}
#testimonials .col {
    width: 100%;
    background-color: lightgreen;
    height: calc(800px - 30px);
    border-radius: 20px;
    margin: 15px 30px;
    border: 1px solid black;
}
#with-us {
    background-color: #9792e4 ;
    padding: 50px 0;
}
#with-us .col {
    width: 100%;
    background-color: orange;
    height: 500px;
    border-radius: 20px;
    margin: 15px 30px;
    border:1px solid black; 
}
#about-us {
    padding: 50px 0;

}
#about-us .col {
    width: 100%;
    background-color: silver;
    height: calc(800px - 30px);
    border-radius: 20px;
    margin: 15px 30px;
    border:1px solid black; 
}
#get-started {
    background-color: #9792e4;
    width: 100%;
    padding: 50px 0;
}
#get-started .col {
    width: 100%;
    background-color: pink;
    height: 600px;
    border-radius: 20px;
    margin: 15px 30px;
    border:1px solid black; 
}


/* FINE SECTION */
footer .col {
    width: 100%;
    height: 70px;
    background-color: slateblue;
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
    

}
/* FOOTER */

/* FINE FOOTER */


/* MEDIA QUERY TABLET */

@media screen and (min-width: 768px) {
    #jumbotron {
        margin: 40px 0;
        padding: 0 10px 0 15px;
    }
    #jumbotron .col {
        width: calc(33% - 20px);
        background-color: #b5ddff;
        height: 500px;
        border-radius: 20px;
        margin: 15px 10px;
        border: 1px solid black;
       
    }
    #jumbotron .grow {
        width: calc(66% - 20px);
        background-color: #b5ddff;
        height: 500px;
        border-radius: 20px;
        margin: 15px 10px;
        border: 1px solid black;
    }
    #testimonials {
        width: 100%;
        padding: 50px 0 80px 0;
    }
    #testimonials .col {
        width: 100%;
        background-color: lightgreen;
        height: 300px;
        border-radius: 20px;
        margin: 15px 30px;
        border: 1px solid black;
    }
    #with-us {
        padding: 100px 20px 50px;
    }
    #with-us .col {
        width: calc(50% - 20px);
        background-color: orange;
        height: 500px;
        border-radius: 20px;
        margin: 15px 10px;
        border:1px solid black; 
    }
    #about-us {
        padding: 40px 20px;
    }
    #about-us .col-60 {
        width: calc(60% - 20px);
        background-color: silver;
        height: calc(800px - 30px);
        border-radius: 20px;
        margin: 15px 10px;
        border:1px solid black; 
    }
    #about-us .col-40 {
        width: calc(40% - 20px);
        background-color: silver;
        height: calc(800px - 30px);
        border-radius: 20px;
        margin: 15px 10px;
        border:1px solid black; 
    }
}
/* FINE MEDIA QUERY TABLET */

/* MEDIA QUERY DESKTOP */
@media screen and (min-width: 1160px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
    #jumbotron {
        margin: 40px 0;
        padding: 0 10px 30px 25px;
    }
    #jumbotron .col {
        width: calc(33% - 20px);
        background-color: #b5ddff;
        height: 350px;
        border-radius: 20px;
        margin: 15px 10px;
        border: 1px solid black;

    }
    #jumbotron .grow {
        width: calc(100% / 3 * 2 - 20px);
        background-color: #b5ddff;
        height: 350px;
        border-radius: 20px;
        margin: 15px 10px;
        border: 1px solid black;
    }
    #strategic {
        background-color: #9792e4;
        width: 100%;
        padding: 50px;
    }
    #strategic .col {
        width: calc(50% - 20px);
        background-color: gold;
        height: calc(800px - 30px);
        border-radius: 20px;
        margin: 15px 10px;
        border: 1px solid black;
    }
    #strategic .col-sm {
        width: calc(50% - 120px);
        background-color: white;
        height: calc(600px - 30px);
        border-radius: 20px;
        margin: 15px 10px;
        border: 1px solid black;
        align-self: flex-end;
    }
    #with-us {
        padding: 100px 20px 50px;
    }
    #with-us .col {
        width: calc(33% - 20px);
        background-color: orange;
        height: 400px;
        border-radius: 20px;
        margin: 15px 10px;
        border:1px solid black; 
    }
}
    
/* FINE MEDIA QUERY DESKTOP */



   
    
   
